@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.statCheck {
    &__header {
        font-size: 2rem;
        font-weight: 700;
        font-family: $font-heading;
        color: $color-lightText;
    }
    &__headerLink {
        &--text {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 800;
            font-family: $font-link;
            color: $color-lightText;
        }
        &--text:hover {
            text-shadow: 0.1rem 0.1rem $color-lightText;
            color: $color-focus;
        }
    }
}
