.button__bronze {
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

.button__iron {
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

.button__steel {
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

.button__large {
    height: 4rem;
    width: 10rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}
