//colours

$color-primary: #7f1e1e;
$color-secondary: #6195c9;

$color-nav: #3066be;
$color-focus: #0015cd;
$color-body: #afd3da;

$color-card: #625b5b;

$color-box-shadow: #a0bdc3;
$color-text-shadow: #8e8e8e;

$color-lightText: #e5dddd;

$color-white: #ffffff;
$color-black: #000000;

$color-bronze: #8b7036;
$color-iron: #7c7373;
$color-steel: #c5c0c0;
