//colours

$color-primary: #7f1e1e;
$color-secondary: #1281ef;

$color-nav: #af2222;
$color-focus: #0015cd;
$color-body: #afd3da;
$color-box-shadow: #a0bdc3;
$color-text-shadow: #8e8e8e;
$color-lightText: #e5dddd;

$color-white: #ffffff;
$color-black: #000000;
