@use "../../../styles/typography" as *;
@use "../../../styles/variables" as *;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 12%;
    top: 22%;
    height: 84vh;
    width: 88%;
    &__header {
        display: flex;
        position: fixed;
        z-index: 1;
        top: 15.4%;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 100%;
        border-bottom: 0.3rem solid $color-box-shadow;
    }
    .formContainer {
        border: 0.3rem solid $color-box-shadow;
        border-radius: 0.4rem;
    }
    p {
        margin-bottom: 0.6rem;
    }
    input {
        height: 1.5rem;
        width: 25rem;
    }
}
